{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "func-names": [0],
    "semi": [2, "never"],
    "no-unexpected-multiline": [2],
    "no-shadow": [1],
    "react/display-name": [1, { "acceptTranspilerName": true }],
    "react/jsx-no-duplicate-props": [2]
  },
  "env": {
    "phantomjs": true,
    "jasmine": true,
  },
  "globals": {
    "Sagamore": true,
    "_": true,
    "sagamore": true,
    "faker": true,
  },
}
