[user]
	name = Nick Ostrovsky
	email = nick@firedev.com
[alias]
  o = !hub browse
  pushup = !git push origin `git symbolic-ref HEAD --short` -u
  cleanup = !git checkout master && git pull --rebase && \
             git remote prune origin && git branch --merged | \
             grep -v "\\*" | xargs -n 1 git branch -d
[color]
	branch = auto
	ui = true
	diff = auto
	status = auto
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	ignorecase = false
[diff]
	algorithm = patience
	compactionHeuristic = true
	renameLimit = 1024
[pull]
	rebase = false
[fetch]
	prune = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[http]
	postBuffer = 524288000
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
	process = git-lfs filter-process
[clean]
	requireForce = false
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
